html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.prof-box{
	width: 700px;
	height: 700px;
	background: rgba(0,0,0,0.8);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

.prof-pic {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

h1{
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
}

p{
	font-weight: 200;
	letter-spacing: 1;
}

h5{
	padding-left: 35px;
}

.line-break {
	width: 400px;
	margin:0 auto;
	margin-bottom: 30px;
	border-top: 1px solid white;
}

.box{
	float:left;
	width: 170px;
	padding: 10px;
	padding-left: 15px;
	margin: 15px;
}
.box-1{
	float:left;
	width: 170px;
	padding: 10px;
	padding-left: 130px;
}
.box-2{
	float:left;
	width: 170px;
	padding: 10px;
	padding-left: 50px;
}