a{
	text-decoration: none;
	color: white;
}
* {
    box-sizing: border-box;
}
body {
	background-color: #c0d6e4;
	font-family: sans-serif;
	margin: 5px;
}
hr {
	margin: 2px;
}
h3 {
	margin: 3px;
}
h4 {
	margin: 5px 10px;
}
.img-circle {
	margin: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: #ffffff;
	border-radius: 10em ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
	background-color: #003b6f;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0px 10px;
	width: 80%;
	position: fixed;
	left: 10%;
	display: table-row;
	
	color: white;
	margin: 0 auto;
	margin-top: 140px;

}
p{
	margin: 0px;
	padding: 5px 10px;
}
.content {
	display: table-row;
    margin-left: 200px;
    padding-left: 20px;
}
